/* Header styling */

.main {
    margin-left: 250px;
    padding: 20px;
    background-color: #fff;
}
.header {
    position: sticky;
    top: 0;
    z-index: 999; /* Đảm bảo header nằm trên các phần tử khác */
    background-color: white; /* Để có nền trắng */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tạo bóng cho header */
    box-sizing: border-box;
  }

 
  
  /* Cố định footer */
  .footer {
    position: sticky;
    bottom: 0;
    z-index: 999;
    background-color: white;
    text-align: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* Tạo bóng cho footer */
    box-sizing: border-box;
  }
  .header input, .header button {
    margin: 5px;
  }
  
  .header button {
    width: 120px;
    display: inline-block;
    background-color: #2980b9;
    color: white;
  }
  
  .header button:hover {
    background-color: #1f6f8b;
  }
  /* Body styling (Table) */
.body {
    overflow-y: auto;
    flex-grow: 1;
  }
  
  table {
    width: 100%;
    background-color: white;
  }
  
  table th, table td {
    text-align: center;
  }

@media (min-width: 1200px) {
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1280px !important;
}
}

  /* Responsive Design */
@media (max-width: 768px) {
    .header input {
      width: calc(100% - 90px);
    }
    .header button {
      width: 90px;
    }
}


