/* Body styling (Table) */
.body {
  overflow-y: auto;
  flex-grow: 1;
}

table {
  width: 100%;
  background-color: white;
}

table th,
table td {
  text-align: center;
}
/* Styles for User Details Modal */
.modal-content {
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.modal-header {
  background-color: #007bff;
  color: white;
  border-bottom: 2px solid #0056b3;
}

.modal-header .close {
  color: white;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.user-detail {
  display: flex;
  align-items: center;
  padding: 20px;
}

.user-avatar {
  margin-right: 20px;
}

.user-avatar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  font-size: 1rem;
  color: #333;
}

.user-info h4 {
  font-size: 1.25rem;
  margin-bottom: 15px;
  font-weight: bold;
  color: #333;
}

.user-info p {
  margin-bottom: 10px;
  font-size: 1rem;
}

.user-info strong {
  font-weight: 600;
  color: #007bff;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  color: white;
}

.modal-body {
  padding: 20px;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1280px !important;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .header input {
    width: calc(100% - 90px);
  }
  .header button {
    width: 90px;
  }
}
