.breadcrumb {
  position: sticky;
  top: 0;
  z-index: 999;
  margin-left: 250px;
  padding: 20px !important;
  background-color: rgb(246, 243, 243) !important;
  text-align: center;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
}

.breadcrumb h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}
